ul {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.logo {
    margin-right: 93px;
}

.auth-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth-nav-icon {
    margin-right: 5px;
    padding-top: 6px;
}
